<p>
  Other pages:
  <ul>
    <li><%= link_to "Home", "/" %></li>
    <li><%= link_to "Page a", "/statics/page_a" %></li>
    <li><%= link_to "Page b", "/statics/page_b" %></li>
    <li><%= link_to "Page c", "/statics/page_c" %></li>
  </ul>
</p>
